.jumbotron {
    background-color: red;
}

.text-center {
    color: white;
}

.card-body {
    background-color: white;
}

.employee-card {
    background-color: black;
    color:white;
}

.list-group-item {
    background: black;
}

.card {
    background-color: red;
}

.body {
    background-color: maroon;
}



